@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/


@media only screen and (max-width: 1600px)
{
	.cate .product_name a {
		font-size: 14px;
	}

}

/************
2. 1440px
************/

@media only screen and (max-width: 1540px)
{
	.breadcrumbs{
		margin-bottom:10px;
	}
	.sidebar_title h4{
		font-size:20px;
		padding-bottom:10px;
	}
	.sidebar_title h5 {
		font-size: 17px;
		padding-bottom: 10px;
	}
	.cate .sidebar_categories li a {
		font-size: 12px;
	}
	.sidebar_section{
		padding-bottom:0;
		margin-bottom:20px;
	}
	.sidebar {
		width: 180px;
	}
	.main_content {
		float: left;
		width: calc(100% - 200px);
		padding-left: 10px; 
	}
	#amount{
		font-size:14px !important;
	}
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{

	.cate .favorite {
		font-size: 16px !important;
	}

	.cate .product-item .favorite {
		top: 0px;
		left: 5px;
	}
	.cate .product_bubble_right {
		justify-content: center;
		right: -5px;
		z-index: 1;
	}

}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	.cate .product-item .favorite {
		top: 0px;
		left: 20%;
	}
	.cate .product-item{
		width:25%;
	}
	.cate .product_name a {
		font-size: 12px;
	}
	.cate .product_image img {
		width: auto;
		height: 200px;
	}
	.cate .add_to_cart_button a {
		font-size: 10px;
	}
	.cate .discount .product_info .product_price {
		font-size: 13px;
	}
	.cate .product_price span {
		font-size: 12px;
	}
	.cate .favorite {
		font-size: 15px !important;
	}
	.cate .product-item .favorite {
		top: 0px;
		left: 10px;
	}
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.product_section_container {
		margin-top: 150px;
	}
	.cate .product-item .favorite {
		top: 0px;
		left: 15%;
	}
	.cate .product_bubble_right {
		justify-content: center;
		right: 5px;
		z-index: 1;
	}
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	.cate .product-item .favorite {
		top: 0px;
		left: 10%;
	}
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{

	.cate .product-item .favorite {
		top: 0px;
		left: 16%;
	}
	.product_sorting .sidebar_section-box1 {
		display: block;
	}
	.sidebar_section-1{
		display: none;
	}
	.sidebar_section-2 {
		display: -webkit-box;
		overflow-y: hidden;
		overflow-x: auto;
	}
	.sidebar_section-2::-webkit-scrollbar{
		display:none;
	}
	.sidebar_section-2 .lst-cate li {
		border: 1px solid #2f3640;
		border-radius: 10px;
		margin: 0 10px;
	}
	.sidebar_section-2 .lst-cate li a{
		padding:5px 20px;
		white-space:nowrap;
	}
	.sidebar_section-box {
		display: none;
	}
	.product_sorting .sidebar_section-box2 {
		display: block;
	}
	.sidebar_title h5 {
		margin: 0;
	}
	.product-grid{
		margin-top:25px;
	}
	.menu_item {
		border: none;
	}
	#amount{
		margin:0;
	}
	.filter_button {
		width: 100%;
	}
	h1 {
		font-size: 48px;
	}
	h2{font-size: 36px;}
	
	.navbar_menu
	{
		display: none;
	}
	.hamburger_container
	{
		display: block;
	}
	.product_section_container
	{
		margin-top: 150px;
	}
	.sidebar
	{
		float: none;
		width: 100%;
		padding-right: 0px;
		display:flex;
		justify-content:space-around;
	}
	.sidebar_title-rep{
		position:relative;
	}
	.main_content
	{
		float: none;
		width: 100%;
		padding-left: 0px;
	}
	.grid-item
	{
		width: 25%;
	}
	.cate .product-item
	{
		width: 25%;
	}
	.benefit_col
	{
		margin-bottom: 30px;
	}
	.benefit_col:last-child
	{
		margin-bottom: 0px;
	}
	.newsletter_text
	{
		height: auto;
		margin-top: 30px;
	}
	.newsletter_text p
	{
		margin-top: 5px;
	}
	.newsletter_form
	{
		height: auto;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.footer_nav_container
	{
		height: auto;
		margin-top: 65px;
	}
	.footer_social
	{
		height: auto;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{

	.cate .product-item .favorite {
		top: 0px;
		left: 15%;
	}
	.product_sorting li span:nth-child(2) {
		margin-left: 0px;
	}
	.sidebar_section-box{
		display:none;
	}
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{

	.cate .product-item .favorite {
		top: 0px;
		left: 10%;
	}
	.product_section_container{
		margin-top:130px;
	}
	.hamburger_container {
		margin: 0;
	}
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	.product_sorting .show-box{
		display:none;
	}
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.product_section_container {
		margin-top: 100px;
	}
	.cate .product-item .favorite {
		top: 0px;
		left: 5%;
	}
	.product_sorting li span {
		font-size: 12px;
	}
	h1{font-size: 36px;}
	h2{font-size: 24px;}
	h6{font-size: 12px;}
	.red_button a
	{
		font-size: 12px;
	}
	.new_arrivals_title
	{
		margin-top: 10px;
	}
	.product_sorting
	{
		display:flex;
	}
	.product_sorting > li
	{
		display: block;
	}
	.pages
	{
		float: none;
	}
	.showing_results
	{
		display: block;
		float: none;
		margin-bottom: 15px;
	}
	.product_sorting_container_bottom .product_sorting
	{
		float: none;
	}
	.product_sorting_container_bottom .pages
	{
		float: none;
	}
	.cate .product-item
	{
		width: 25%;
	}
	.product
	{
	}
	.benefit_col
	{
		margin-bottom: 15px;
	}
	.newsletter_form
	{
		margin-bottom: 40px;
	}
	.newsletter_submit_btn
	{
		margin-top: 15px;
	}
}
@media only screen and (max-width: 667px){
	.cate .product-item {
		width: 33%;
	}
	.cate .product_image img{
		height:250px;
	}
	.cate .product-item{
		height:auto;
	}
}
@media only screen and (max-width: 626px) {
	.cate .product-item {
		width: 33%;
	}
	.cate .product_image img {
		height: 220px;
	}

	.cate .product-item {
		height: auto;
	}
}
/************
11. 575px
************/
@media only screen and (max-width: 575px) {

	.cate .product_image img {
		height: 180px;
	}

	.cate .product-item {
		height: auto;
	}
	.cate .product-item .favorite {
		top: 0px;
		left: 0;
	}

	.product_section_container {
		margin-top: 100px;
	}

	.product_sorting .type_sorting_text_box {
		display: none;
	}

	.hamburger_menu {
		right: -100%;
		width: 100%;
	}

	.cate .product-item {
		width: 33.33333%;
	}

	.product {
	}

	.cr {
		display: block;
		margin-right: 0px;
		margin-bottom: 30px;
		font-size: 13px;
	}

	.footer_nav {
		margin-bottom: 20px;
	}

		.footer_nav li {
			display: block;
			margin-right: 0px;
		}

			.footer_nav li a {
				font-size: 13px;
			}

	.product_sorting li span:nth-child(2) {
		margin-left: 10px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	.product_sorting > li{
		padding-left:5px;
	}
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	.cate .product_image img {
		height: 190px;
	}

	.cate .product-item {
		height: auto;
	}
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	.sidebar{
		padding-left:0;
	}
	.cate .product-item .favorite {
		top: 0px;
		left: 5%;
	}
	.cate .product-item {
		width:50%;
	}
	.logo_container a
	{
		font-size: 12px;
	}
	.hamburger_container
	{
		margin-left: 25px;
	}
	.hamburger_container i
	{
		font-size: 16px;
	}
	.hamburger_close
	{
		top: 14px;
		right: 4px;
	}
	.hamburger_close i
	{
		font-size: 20px;
	}
	.hamburger_menu_content
	{
		padding-right: 15px;
		padding-top: 70px;
	}
	.menu_item
	{
		border-bottom-color: rgba(181, 174, 196, 0.5);
	}
	.menu_item > a
	{
		font-size: 12px;
		line-height: 35px;
		height: 35px;
	}
	.menu_selection li a
	{
		font-size: 12px;
		line-height: 35px;
		height: 35px;
	}
	.navbar
	{
		height: 70px;
	}
	.navbar_user li a
	{
		width: 30px;
		height: 30px;
		font-size: 12px;
	}
	.checkout_items
	{
		width: 15px;
		height: 15px;
		font-size: 10px;		
	}
	.red_button a
	{
		font-size: 10px;
	}
	.product-item
	{
		height: auto;
	}
	.product
	{
		height: auto;
	}
	.product_name a
	{
		font-size: 12px;
	}
	.add_to_cart_button
	{
		margin-top: 20px;
	}
	.section_title::after
	{
	    top: calc(100% + 8px);
	    height: 3px;
	}
	.newsletter_form
	{
		margin-top: 22px;
	}
	.newsletter_text h4
	{
		font-size: 20px;
	}
	.newsletter_text p
	{
		font-size: 13px;
		margin-top: 5px;
	}
	.newsletter_submit_btn
	{
		font-size: 12px;
	}
	#newsletter_email
	{
		height: 40px;
		width: 100%;
		padding-left: 15px;
	}
	.newsletter_submit_btn
	{
		height: 36px;
		width: 130px;
	}
	#newsletter_email::-webkit-input-placeholder
	{
		font-size: 12px !important;
		padding-left: 0px;
	}
	#newsletter_email:-moz-placeholder /* older Firefox*/
	{
		font-size: 12px !important;
		padding-left: 0px;
	}
	#newsletter_email::-moz-placeholder /* Firefox 19+ */ 
	{
		font-size: 12px !important;
		padding-left: 0px;
	} 
	#newsletter_email:-ms-input-placeholder
	{ 
		font-size: 12px !important;
		padding-left: 0px;
	}
	#newsletter_email::input-placeholder
	{
		font-size: 12px !important;
		padding-left: 0px;
	}
	.footer_nav_container
	{
		margin-top: 35px;
	}
	.cr
	{
		margin-bottom: 20px;
	}
	.footer_nav
	{
		margin-bottom: 20px;
	}
	/*.footer_social
	{
		margin-top: 5px;
		margin-bottom: 30px;
	}*/
	h5 {
		font-size: 11px;
	}
	.sidebar_title h5 {
		font-size: 11px;
	}
	.filter_button span {
		font-size: 11px;
	}
	.filter_button{
		width:100%;
		display:flex;
		justify-content:center;
	}
	#slider-range{
		width:100px;
	}
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}