@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/


@media only screen and (max-width: 1600px)
{

	.body-customer .product_name a {
		font-size: 13px;
	}
	.body-customer .discount .product_info .product_price {
		font-size: 13px;
	}
	.body-customer .discount .product_info .product_price span {
		font-size: 12px;
	}
	.body-customer .favorite {
		font-size: 15px !important;
	}
	.body-customer .inf-customer .product_image img {
		 height:auto; 
		 width: 100%; 
	}
	.body-customer .product_bubble_right {
		justify-content: center;
		right: -5px;
		z-index: 1;
	}
	.product_name a {
		font-size:17px;
	}
	.pagination li a {
		padding: 0 0;
	}
	.space-address a {
		font-size: 1.1rem;
		font-weight: 500;
	}
}

/************
2. 1440px
************/

@media only screen and (max-width: 1540px)
{
	.mar150_container {
		margin: 110px 0 20px 0;
	}
	.cart{
		margin-top:150px;
	}
	.box-inforcustomer {
		width: 40%;
	}
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px) 
{
	body-cart .address-cart {
		width: 50%;
	}
	.body-cart .order-cart {
		width: 50%;
	}
	.body-customer .product-item {
		width: 25%;
	}
	.space-address a {
		font-size: 1rem;
		font-weight: 500;
	}
	.prd-item {
		width: 25%;
	}
	.product_image-2 {
		display: flex;
		justify-content: center;
	}

	.product_info-2 {
		width: 320px;
	}
	.product_image-2 img {
		height: 400px;
	}
}
/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	.box-customer {
		min-height: 400px;
	}
	.box-inforcustomer {
		width: 50%;
	}
	.body-customer .add_to_cart_button a {
		font-size: 10px;
	}
	.body-customer .address-customer {
		padding: 30px;
	}
	.body-customer .inf-customer {
		padding: 55px 30px;
	}
	.body-customer .product_bubble {
		width: 40px;
		height: 20px;
	}
	.product_image {
		display: flex;
		justify-content: center;
	}
	.product_image-2 img {
		height: 350px;
	}
	.product_image img {
		width:auto;
		height: 280px;
	}
	.product_info-2{
		width:320px;
	}
	.product_name a {
		font-size: 15px;
	}
	.prd-item {
		padding: 0 ;
	}
	.add_to_cart_button{
		margin-top:5px;
	}
	.list-ad {
		margin-top: 20px;
	}
	.logo_container a .logo {
		height: 70px;
		font-size: 12px;
	}
	.main_slider
	{
		min-height: 475px;
		height: calc(100vw / 1.714);
	}
	.main_slider_content
	{
		width: 80%;
	}
	.banner_item
	{
		height: 200px;
		margin:10px
	}
	.timer li
	{
		width: 90px;
		height: 90px;
	}
	.timer_num
	{
		font-size: 36px;
		font-weight: 500;
	}
	.timer_unit
	{
		margin-top: 5px;
	}
	.blog_title
	{
		font-size: 20px;
	}
	.form-search {
	}
	.form-search input{
		width:60%;
	}
	#searchButton {
		right:22%;
	}
	.navbar_menu li a {
		font-size:inherit;
	}
	.btn-primary-prev {
		position: absolute;
		top: 30%;
	}
	.btn-primary-next {
		position: absolute;
		top: 30%;
		right: 10px
	}
	.favorite {
		top: 0px;
		left: 40px;
	}
	.product-item .favorite {
		top: 0px;
		left: 20px;
	}
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.body-customer .address-customer{
		padding:0;
	}
	.body-customer .inf-customer{
		padding:25px 0 ;
	}
	.navbar_menu li a {
		padding: 15px;
	}
	.product_info-2{
		width:300px;
	}
	.favorite {
		top: 0px;
		left: 30px;
	}
	.product-item .favorite {
		top: 5px;
		left: 10px;
		font-size: 14px !important;
	}
	.sm-title {
		font-size: 11px;
	}
	.logo-login p{
		white-space:nowrap;
		font-size:13px;
	}
	.login-body .font-login .title img {
		height: 50px;
	}
	.font-login h2{
		font-size:35px;
	}
}

/************
5. 1024px
************/

@media only screen and (max-width: 1058px)
{
	.box-inforcustomer {
		width: 60%;
	}
	.product_image-2 img {
		height: 300px;
	}
	.product_image img {
		 width: 100%;  
	}
	.product-item .favorite {
		top: 0px;
		left: 5px;
	}
	.favorite {
		font-size:15px !important;
	}
	.product_info-2 {
		padding:0 10px !important;
		width: 265px;
	}
	.logo_container {
		width:30%
	}
	.navbar{
		height:100px;
	}
	.form-search input{
		width: 300px
	}
	#searchButton {
		right: 5px;
		top:28%;
	}
	.navbar_menu {
		display: none;
	}
	.hamburger_container {
		display: block;
	}
	.hamburger_menu_content .form-search{
		display:none;
	}
	.footer .col-lg-3 {
		display: none;
	}
	.sm-title{
		font-size:10px
	}
	.logo-login p {
		display:none;
	}
	.login-body {
		padding: 50px;
	}
	/*product*/

}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.space-address .box-address, .box-pay, .inp {
		height: 40px;
	}
	.login-body .font-login .title img {
		height: 45px;
	}
	.font-login h2 {
		font-size: 30px;
	}
	.footer .none {
		display: none;
	}
	.product-item{
		width:33.3%
	}
	.product_image-2 img {
		height: 270px;
	}
	.product_info-2 {
		width: 245px;
	}
	.product-item .product_name a {
		font-size: 13px;
	}
	.product_name a {
		font-size: 15px;
	}
	.product_price {
		font-size:15px;
	}
	.add_to_cart_button {
		margin: 0;
	}
	.add_to_cart_button a {
		font-size: 10px;
	}
	.logo_container {
		width: 20%
	}
	.logo_container a .logo
	{
		height:60px;
		font-size: 12px;
	}
	.navbar {
		height: 90px;
	}
	.navbar_user{
		margin:0 20px;
	}
	.navbar_user li .fa {
		font-size: 25px;
	}
	.navbar_user li a{
		margin:0;
	}
	h1 {
		font-size: 48px;
	}
	h2{font-size: 36px;}
	.footer_social{
		margin:0;
	}
	.footer .row{
		flex-wrap:nowrap;
	}
	.favorite {
		left: 30px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	.body-customer .address-customer{
		width:35%;
	}
	.body-customer .inf-customer {
		width: 65%;
	}
	.inf-customer .new-inf {
		left: 40%;
	}
	.space-address a {
		font-size: 0.9rem;
	}
	.box-customer h4{
		font-size:20px;
	}
	.box-inforcustomer .customer-title, .box-inforcustomer h5{
		font-size: 15px;
	}
	.product_image-2 img {
		height: 280px;
	}
	.product_info-2 {
		width: 240px;
	}
	.form-search input {
		width: 250px
	}
	.new_arrivals_sorting{
		margin-top:20px;
	}
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	.font-login .space-address{
		margin:10px;
	}
	.mar150_container {
		margin: 100px 0 20px 0;
	}
	.body-customer {
		display: block;
	}
	.body-customer .inf-customer ,.body-customer .address-customer{
		width: 100%;
		padding-top:0;
	}
	.body-customer .box-customer {
		display: flex;
		min-height: auto;
	}
	.inf-customer .box-customer{
		display:block;
	}
	.box-customer .log-out{
		display:none;
	}
	.address-customer a span {
		display: none;
	}
	.space-address a {
		font-size: 0.8rem;
	}
	.space-address i {
		font-size: 15px;
		margin: 5px;
	}
	.btn-action {
		font-size: 13px;
	}
	/*product*/
	.product-item .product_price {
		font-size: 14px;
	}
	.product-item .product_price span {
		font-size: 13px;
	}
	.product_image-2 img {
		height: 260px;
	}
	.product_info-2 {
		width: 220px;
	}
	.product-item .add_to_cart_button {
		height:30px;
		margin-top:5px;
	}
	.add_to_cart_button a {
		font-size: 11px;
	}
	.favorite {
		left: 20px;
	}
	#form-login, #form-register{
		display:none !important;
	}
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	.footer .row {
		flex-wrap: wrap;
	}
	.footer .ft-logo {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.ft-logo img {
	}
	.login-body .font-login {
		width:100%;
	}		
	.font-login .space-address {
		margin: 10px 0;
	}
	.mar150_container {
		margin: 80px 0 20px 0;
	}
	.body-customer .product-item {
		width: 33.3%;
		padding:10px;
	}
	.prd-item {
		width:33.33%;
	}
	.product_image-2 img {
		height: 300px;
	}
	.product_image img {
		height: 250px;
	}
	.product_info-2 {
		width: 250px;
	}
	.top_nav {
		height: 30px;
	}
	.top_nav_left li .icon {
		height: 15px;
	}
	.top_nav_menu{
		height:30px
	}
	.form-search {
		display: none;
	}

	.navbar {
		height: 70px;
	}
	.navbar_user li{
		margin:0 5px;
	}
	.navbar_user li a {
		margin: 0 5px;
		font-size:12px
	}
	.account{
		min-width:40px;
	}
	.language {
		display: none;
	}
	/*.row {
		flex-wrap: nowrap;
	}*/
	.footer .none{
		display:none;
	}
	.row .col-lg-12 h3{
		font-size:20px;
	}
	/*product*/
}

/************
10. 767px
************/

@media only screen and (max-width: 667px)
{
	.ft-logo img {
		height:50px;
	}
	.ft-logo .letter{
		display:none;
	}
	.mar150_container {
		margin: 75px 0 20px 0;
	}
	.ctm-icon {
		display: none;
	}
	.space-address i {
		font-size: 13px;
		margin: 0 5px;
	}
	.product_image-2 img {
		height: 260px;
	}

	.product_info-2 {
		width: 220px;
	}
	.product_name a {
		font-size: 13px;
	}

	.product_price {
		font-size: 14px;
	}
	.list-ad {
		margin-top: 30px;
	}
	.navbar_user li a{
		margin:0;
	}
	h1 {
		font-size: 36px;
	}
	h2{font-size: 24px;}
	h6{font-size: 12px;}
	.main_slider_content h6
	{
		margin-bottom: 20px;
	}
	.shop_now_button
	{
		margin-top: 23px;
	}
	.red_button a
	{
		font-size: 12px;
	}
	.banner_item
	{
		margin-bottom: 30px;
		height: 210px;
	}
	.new_arrivals_title
	{
		margin-top: 44px;
	}
	.product-item
	{
		padding:10px 0;
	}
	.product
	{
		height: 305px;
	}
	.grid_sorting_button
	{
		font-size: 13px;
		padding-left: 20px;
		padding-right: 20px;
		min-width: 80px;
	}
	.product_slider_container
	{
		height: auto;
	}
	.product_slider_item .product-item
	{
		height: 380px;
	}
	.benefit_col
	{
		margin-bottom: 15px;
	}
	.blog_item
	{
		height: 372px;
	}
	.newsletter_form
	{
		margin-bottom: 40px;
	}
	.newsletter_submit_btn
	{
		margin-top: 15px;
	}
	.currency>a>i {
		font-size:15px
	}
}

@media only screen and (max-width: 620px) {

	.space-address a {
		font-size: 0.7rem;
	}
}
	/************
11. 575px
************/

@media only screen and (max-width: 575px) {

	.product_bubble {
		width: 40px;
		height: 20px;
	}
	.product_bubble span {
		font-size: 10px;
	}

	.product_image-2 img {
		height: 220px;
	}

	.product_image img {
		height: 230px;
	}

	.product_info-2 {
		width: 190px;
	}

	.product_name a {
		font-size: 12px;
	}

	.product_price {
		font-size: 13px;
	}

	.product-item .add_to_cart_button {
		height: auto;
		margin-top: 10px;
	}

	.hamburger_menu {
		right: -100%;
		width: 100%;
	}

	.product-item {
		width: 50%;
		padding: 10px;
	}

	.product {
		height: auto;
	}

	.blog_item {
		height: calc((100vw - 30px) / 1.37);
	}

	.cr {
		display: block;
		margin-right: 0px;
		margin-bottom: 30px;
		font-size: 13px;
	}

	.footer_nav {
		margin-bottom: 20px;
	}

		.footer_nav li {
			display: block;
			margin-right: 0px;
		}

			.footer_nav li a {
				font-size: 13px;
			}

	.product_bubble_right {
		right: -5px;
	}

	.product-item .product_bubble_right {
		right: 0;
	}
}

	/************
11. 539px
************/

@media only screen and (max-width: 539px) {
	.login-body {
		padding: 5px;
	}
	.space-address a {
		font-size: 0.6rem;
	}
	.lst-address-ct h5{
		font-size:14px;
	}
	.lst-address-ct div {
		font-size: 12px;
	}
	.address-customer .box-customer {
		padding: 0;
	}
	.product_bubble_right {
		right: 10px;
	}

	.product_image-2 img {
		height: 200px;
	}

	.product_info-2 {
		width: 175px;
	}

	.ft-logo2 {
		display: none;
	}
}

	/************
12. 480px
************/

@media only screen and (max-width: 480px) {
	.body-customer .product-item .product_name a {
		font-size: 11px;
	}
	.body-customer .discount .product_info .product_price {
		font-size: 11px;
	}
	.body-customer .discount .product_info .product_price span {
		font-size: 10px;
	}
	.lst-address-ct h5 {
		font-size: 12px;
	}
	.lst-address-ct div {
		font-size: 11px;
	}
	.lst-address-ct .flct a{
		padding:5px;
	}
	.space-address {
		padding: 5px;
	}
	.box-inforcustomer {
		width: 90%;
	}
	.product_image-2 img {
		height: 185px;
	}

	.product_image img {
		height: 200px;
	}

	.product_info-2 {
		width: 155px;
	}

	.col {
		padding-left: 20px;
	}

	.btn-primary-prev {
		top: 25%;
	}

	.btn-primary-next {
		top: 25%;
	}

	.favorite {
		font-size: 15px !important;
		left: 15px;
	}

	.btn-primary-prev {
		left: 10px;
	}

	.btn {
		padding: 0.2rem
	}
}

	/************
13. 479px
************/

	@media only screen and (max-width: 479px) {
		.mar150_container {
			margin: 90px 0 20px 0;
		}
		.body-customer .product_bubble {
			width: 30px;
			height: 18px;
		}
		.body-customer .product_bubble span {
			font-size:9px;
		}
		.space-address a {
			font-size: 0.6rem;
		}
		.body-customer .add_to_cart_button a {
			font-size: 9px;
		}
		.logo_container a .logo {
			height: 40px;
			font-size: 12px;
		}

		.navbar_user {
			margin: 0;
		}

		.navbar_user li a {
			margin: 0;
		}

		.back, .next {
			display: none;
		}

		.hamburger_container {
			margin-left: 15px;
			padding: 0;
		}

			.hamburger_container i {
				font-size: 16px;
			}

		.hamburger_close {
			top: 14px;
			right: 4px;
		}

			.hamburger_close i {
				font-size: 20px;
			}

		.hamburger_menu_content {
			padding-right: 15px;
			padding-top: 70px;
		}

		.menu_item {
			border-bottom-color: rgba(181, 174, 196, 0.5);
		}

			.menu_item > a {
				font-size: 12px;
				line-height: 35px;
				height: 35px;
			}

		.menu_selection li a {
			font-size: 12px;
			line-height: 35px;
			height: 35px;
		}

		.navbar {
			height: 70px;
		}

		.navbar_user li a {
			width: 30px;
			height: 30px;
			font-size: 12px;
		}

		.checkout_items {
			width: 15px;
			height: 15px;
			font-size: 10px;
		}

		.main_slider {
			height: calc(100vh - 70px);
			/*height: 80vw;*/
			min-height: auto;
			margin-top: 70px;
		}

		.main_slider_content h6 {
			margin-bottom: 15px;
		}

		.main_slider_content h1 {
			font-size: 24px;
		}

		.shop_now_button {
			margin-top: 15px;
			width: 100px;
			height: 35px;
		}

		.red_button a {
			font-size: 10px;
		}

		.banner_item {
			height: calc((100vw - 30px) / 4);
		}

		.grid_sorting_button {
			font-size: 12px;
			padding-left: 10px;
			padding-right: 10px;
			min-width: 60px;
			height: 35px;
		}

		.product_slider_container, .product-grid {
			margin-top: 33px
		}
		.footer_social {
			 margin-top: 0px; 
			 margin-bottom: 0px; 
		}
	}

	/************
14. 400px
************/

@media only screen and (max-width: 400px) {
	.box-customer .evaluate {
		display: none;
	}
	.body-customer .discount .product_info .product_price {
		font-size: 10px;
	}
	.body-customer .add_to_cart_button a {
		font-size: 8px;
	}
	.space-address i {
		font-size: 11px;
		margin: 0 5px;
	}
	.top_nav_left li {
		padding: 0 5PX
	}

	.product_image-2 img {
		height: 200px;
	}

	.product_info-2 {
		width: 190px;
	}

	.product_image img {
		height: 160px;
	}

	.favorite {
		left: 25px;
	}
	.ft-logo img{
		margin:0;
	}
}